@page "/AddWitch"
@using AERestAPI.Model
@using ApiClient

@inject HttpClient Http
@inject NavigationManager nav

<h3>Create a New Witch</h3>
    <div class="row">
        <EditForm Model="@witchEditModel" OnValidSubmit="@InsertWitch">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                Name: <InputText id="Name" name="Name" @bind-Value="witchEditModel.Name" class="form-control" />
            </div>
            <div class="form-group">
                Which Watch is this Witch Watching?
                <select name="watching" @bind="witchEditModel.watching">
                    <option value="">None</option>
                    @foreach (var oWatch in witchEditModel.AvailableWatches) {
                        if (witchEditModel.watching == oWatch.Key) {
                            <option value="@oWatch.Key" selected>@oWatch.Name</option>
                        } else {
                            <option value="@oWatch.Key">@oWatch.Name</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </EditForm>
    </div>
@code {
    private WitchEditModel witchEditModel;

    protected override async Task OnInitializedAsync() {
        var aWatches = await (new ActionEqualsApiRequest<WatchEditModel>(Http, "Watches").GetAllAsync());
        witchEditModel = new WitchEditModel();
        witchEditModel.AvailableWatches = aWatches.ToList();
    }

    private async Task InsertWitch() {
        WitchDTO record = new WitchDTO();
        record.Name = witchEditModel.Name;
        record.Key = witchEditModel.Key;
        record.watching = witchEditModel.watching;

        if (await (new ActionEqualsApiRequest<WitchDTO>(Http, "Witches").Insert(record))) {
            nav.NavigateTo("/Witches");
        }

    }
    }
